<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Learn Dota 2" %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= config[:host] %>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>

    <section class="d-flex align-items-stretch grand-container">
      <nav>
        <h4 class="mb-0">          
          <%= link_to("Learn Dota2","/", class:"site-id") %>
        </h4>
        <section class="nav-links">
          <h5>Getting Started <i class="fas fa-plus"></i></h5>
          <section chapter="ch0" class="nav-section">
            <%= link_to("Is Dota Right For Me?","learn/ch0-se1-is-dota-right-for-me") %> <!-- brief history of dota, how is it controlled, whats gameplay like, how many players etc -->
            <%= link_to("What is Dota?","learn/ch0-se2-what-is-dota") %> <!-- how do i win? whats the objective? Turn speed, etc -->
            <%= link_to("Understanding the HUD","learn/word") %> 
            <%= link_to("The Heroes of Dota","learn/word") %>
            <%= link_to("What Hero Should I Play?","learn/word") %>
          </section>
          <h5>The Basics <i class="fas fa-plus"></i></h5>
          <section chapter="ch1" class="nav-section">
            <%= link_to("Spells & XP","learn/word") %>
            <%= link_to("Talents","learn/word") %>
            <%= link_to("Lanes, what are they?","learn/word") %>
            <%= link_to("Creeps","learn/word") %>
            <%= link_to("Towers","learn/word") %>
            <%= link_to("Gold","learn/word") %>
            <%= link_to("Intro to Items","learn/word") %>
            <%= link_to("Using the Shop & Cour","learn/word") %>
            <%= link_to("Death & Kills","learn/word") %>
            <%= link_to("Runes","learn/word") %>
            <%= link_to("The Jungle","learn/word") %>
          </section>
          <h5>Understanding the Game <i class="fas fa-plus"></i></h5>
          <section chapter="ch2" class="nav-section">
            <%= link_to("Team Composition & Positions","learn/word") %>
            <%= link_to("Stages of the Game","learn/word") %>
            <%= link_to("Ganks & Rotations","learn/word") %>
            <%= link_to("Teamfights","learn/word") %>
            <%= link_to("Powerspikes","learn/word") %>
            <%= link_to("Vision & Wards","learn/word") %>
            <%= link_to("Roshan","learn/word") %>
            <%= link_to("Hero & Item Theory","learn/word") %>
            <%= link_to("Shrines","learn/word") %>
            <%= link_to("Objective Gaming","learn/word") %> <!-- spefifics on what dead barracks do, backdoor protection, megas, shrine limitations, etc -->
            <%= link_to("Buyback","learn/word") %>
          </section>
          <h5>Advanced Ideas <i class="fas fa-plus"></i></h5>
          <section chapter="ch3" class="nav-section">
            <%= link_to("Advanced Laning","learn/word") %> <!-- creep aggro, pulling, vision, rotating for runes, etc -->
            <%= link_to("What Stats Mean","learn/word") %> <!-- stats, ms, attack speed -->
            <%= link_to("Damage Types","learn/word") %>
            <%= link_to("What is 'The Meta'","learn/word") %>
            <%= link_to("General Noob Tips","learn/word") %>
          </section>

        </section>
      </nav>
      <section class="w-100 learn-pane d-flex flex-column justify-content-between">
        <section>
          <%= yield %>
        </section>
        <footer>
          <p class="mb-0">
            Brought to you by 
            <%= link_to(
              "@DirtyChump",
              "https://twitter.com/DirtyChump",
              target: "_blank"
            ) %>
            |
            This Website is not affiliated with Valve
            |
            <%= link_to(
              "Play Dota 2",
              "http://www.dota2.com/play/",
              target: "_blank"
            ) %>
          </p>
        </footer>
      </section>
    </section>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
      (function(){
        // navLinks = $('nav .nav-links');
        navHeaders = $('nav .nav-links h5');
        navSections = $('nav .nav-links section');
        navAnchors = $('nav .nav-links a');

        // navSections.slideUp(300);

        navHeaders.on('click', function(){
          $(this).toggleClass('opening');
          $(this).find('i').toggleClass('fa-plus fa-minus');
          if ($(this).hasClass('opening')) {
            $(this).next('.nav-section').slideDown(300);
          }
          else {
            $(this).next('.nav-section').slideUp(300);
          }
        });

        navSections.each(function(){
          chapter = $(this).attr('chapter');
          if (window.location.href.indexOf(chapter) > -1) {
            $(this).prev('h5').click();
          }
        });

        navAnchors.each(function(){
          pageName = $(this).attr('href');
          if(pageName.length > 17) pageName = pageName.substring(0,17);
          console.log(pageName);
          if (window.location.href.indexOf(pageName) > -1) {
            $(this).addClass('active')
          }
        });

      })();
    </script>

  </body>
</html>
