---
title: What is Dota?
---

<section class="u-black py-5">
  <div class="container">
 
    <h1>What is Dota?</h1>
    <p class="mt-3 mb-0">How is it played? How do you Win or Lose?</p>
  </div>
</section>

<section class="container my-5">
  <div class="row align-items-stretch">
    <div class="col col-md-8 u-light p-5 d-flex align-items-center">
    	<section>
	      <h5>The Objective of Dota</h5>
	      <p>
	        The game of Dota requires 10 people to play. 5vs5 no more, no less. Everyone is expected to stay till the very end else it wouldn't function fairly and be considered a ruined match. 
	      </p>
	      <p>
	      	Players compete in a mostly symmetrical arena. Their goal is to dominate their enemies in order to ultimately destory the opposing teams Ancient (a structure located deep within each teams base). Simultaneously they must also work together to defend their own. 
	      </p>
	      <p>
	        In order to accomplish this goal players compete for gold and terrirory on the map. With more gold and XP teams can leverage their advantage to best their opponents in battle. 
	      </p>
	      <p>
	       	When players are killed by one another they take a while to respawn, creating openings for the victors to push and destroy the enemy Ancient. 
	      </p>
	      <p class="mb-0 font-weight-bold">
	       	At its very core the idea behind Dota is simple. Destroy the enemies base before they get yours.
	      </p>
    	</section>
    </div>
    <div class="col col-md-4">
      <%= image_tag 'misc/lanes.png', class:'framed' %>
      <p class="label">
      	This map illustrates the two Ancients located on the bottom left and top right. It also shows the 3 Lanes: Top, Middle, and Bottom.
      </p>
      <p class="label">
      	Note there are also inbetween zones we call The Jungle and a river bisecting the map diagonally.
      </p>
    </div>
  </div>
</section>
<section class="u-black py-5">
	<div class="container">
		<h2>An Ancient Must Fall</h2>
		<p class="mb-0">
			There is no time limit in Dota. The game goes until an Ancient is destroyed.
		</p>
	</div>
</section>
<section class="container my-5">
  <div class="row align-items-stretch">
    <div class="col col-md-8 u-light p-5 d-flex align-items-center">
    	<section>
	      <h5>So who do the players play as?</h5>
	      <p>
	      	Each human player controls a unique character called a Hero.
	      </p>
	      <p>
	        At the beginning of each match of Dota players will take turns in a certain manner picking Heroes. 
	      </p>
	      <p>
	      	There can only be one instance of a Hero per match. No stacking multiple on one team or one per team. If you pick a certain Hero first, your enemy will not be able to play them that match. 
	      </p>
	      <p>
	       	Each hero has a unique set of Spells, Stats, Etc that make them good or bad at various roles and use cases. We will go into Heroes in detail in a later section.
	      </p>
    	</section>
    </div>
    <div class="col col-md-4">
      <%= image_tag 'screens/picking.jpg', class:'framed' %>
      <p class="label">
      	Your screen will have the majority of the Heroes greyed out.
      </p>
      <p class="label">
      	This is to help prevent new players from picking more hard to play Heroes.
      </p>
    </div>
  </div>
</section>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <%= image_tag 'screens/base.jpg' %>
    </div>
  </div>
  <div class="row mb-5 align-items-stretch">
    <div class="col">
      <div class="u-light h-100 p-5">
        <section class="mb-3">
          <h2>What is the Gameplay like?</h2>
          <h5>Dota comes from an RTS background and plays like one too.</h5>
        </section>
        <p>
          This means things like top down perspective, left click to select units, right click to issue move &amp; attack orders, dragging and panning to view different areas, fog of war, etc. 
        </p>
        <p class="mb-0">
          However, unlike most RTS games in Dota you will mostly only be controlling a single unit.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex">
  	<section>
    	<%= image_tag 'screens/fogged.jpg' %>
  	</section>
  	<section>
    	<%= image_tag 'screens/nofog.jpg' %>
  	</section>
  </div>
  <div class="row mb-5 align-items-stretch">
    <div class="col">
      <div class="u-light h-100 p-5">
        <section class="mb-3">
          <h2>What is Fog Of War?</h2>
          <h5>Fog of war is a vision mechanic found in most RTS games</h5>
        </section>
        <p>
          In a top down game you can see the entire map from your human perspective.
        </p>
        <p>
        	Fog of war is a mechanic that makes it so you can only view the activity of areas your Hero and teammates would be able to see.
        </p>
        <p>
        	Note the greyed out areas in the picture above. You can not see the activity going on here because your Hero or allies can not see it. Notice though once the player moves up the ramp it becomes within the Heroes vision and lights up.
        </p>
        <p class="mb-0 font-weight-bold">
          This means even though you as a player can see over things. Your Hero will not be able to see up ramps or stuff behind trees and other objects.
        </p>
      </div>
    </div>
  </div>
</div>

